@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

*{
    margin:0;
    padding:0;
}
body{
 font-family: arial;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
letter-spacing: normal;
line-height: 1.6em;
background: #ECECEC;
padding:0px;
margin:0px;
}
/*
#contact{
  //  background:transparent url(../images/formbg2.png) no-repeat bottom center;
    width:680px;
    height:620px;
    margin:20px auto 0px auto;
}
*/
#contact h1{
    color:#594D4B;
    text-shadow:2px 1px 2px #fff;
    margin-left:10px;
    font-size:36px;
    letter-spacing:-3px;
}
/*
#contact form{
    width:680px;
    height:760px;
    margin:0px auto;
    padding:40px 0px 0px 0px;
    clear:both;
}
#contact p{
    width:100%;
    float:left;
    clear:both;
    position:relative;
}
#contact label{
    float:left;
    width:210px;
    text-align:right;
    margin:10px 0px 5px 0px;
    padding-right:10px;
    text-shadow:1px 1px 1px #fff;
    color:#6A5D5B;
    line-height:23px;
}
#contact input[type="password"],
#contact input[type="text"],
#contact textarea{
    float:left;
    margin:5px 0px 5px 0px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    padding:4px 4px 5px 4px;
    width:390px;
    border:1px solid #ddd;
    background-color:#f9f9f9;
    font-weight:bold;
    color:#444;;
    text-shadow:-1px 1px 1px #aaa;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0px 0px 2px #000;
    -webkit-box-shadow:1px 1px 1px #000;
    box-shadow:1px 1px 1px #000;
}
#contact textarea{
    overflow-x:hidden;
}
#contact input[type="text"]:focus,
#contact textarea:focus{
    background-color:#fff;
}
#contact input[type="button"]{
    height:31px;
    float:right;
    background-color:#6F6968;
    border:1px solid #333;
    border-right:none;
    height:30px;
    padding:0px 30px 2px 30px;
    font-size:10px;
    letter-spacing:0px;
    color:#ddd;
    margin:15px 5px 0px 0px;
    text-transform:uppercase;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    cursor:pointer;
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-radius:5px 0px 0px 5px;
    text-shadow:1px 1px 1px #333;
}
#contact input[type="button"]:hover{
    color:#fff;
    opacity:1.0;
}
#contact p.submit{
    height:40px;
    position:relative;
}
#contact label span{
    font-size:10px;
    font-weight:bold;
    color:#777;
    margin-left:3px;
}
*/
.error{
    background-color:#f2dede;
    border:1px solid #ebccd1;
    font-size:11px;
    letter-spacing:0px;
    color:#a94442;
    padding: 1px 10px;
    margin-top: 10px;
    display: block;
    font-family: arial;
    text-transform: none;
}

.success{
    background-color:#dff0d8;
    border:1px solid #d6e9c6;
    font-size:11px;
    letter-spacing:0px;
    color:#3c763d;
    padding: 1px 10px;
    margin-top: 10px;
    display: block;
    font-family: arial;
    text-transform: none;
}



.loader{
    background: url("../images/ajax-loader.gif") no-repeat scroll center center rgba(255,255,255, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.envelope img{
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-88px;
    margin-left:-123px;
}

img {
    width:auto;
    margin:auto;
}




/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 1px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 400px;
}

*/




#contact
{
    max-width:600px;
    margin:auto;
    padding:20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#contact h2
{
    color:#6f6968;
    font-size:35px;
    margin:0;
    text-align: center;
}


#contact h3
{
    color:#666;
    font-size:15px;
    margin:0;
    text-align: center;
    text-transform: none;
    margin-bottom: 20px;
}


#contact #ContactForm div
{
    margin-bottom:20px;
}

#contact #ContactForm input, textarea, button, select	
{
    width: 100%;
border: 1px solid #FFFDFD;
padding: 12px 5px;
-webkit-box-shadow: inset 0 0px 2px 0 rgba(0,0,0,0.3);
box-shadow: inset 1px 2px 7px -3px rgba(65, 65, 65, 0.3);
font-size: 12px;
color: #777;
box-sizing: border-box;
-moz-box-sizing: border-box;
font-family: arial;
border-radius: 30px;
}

#contact #ContactForm input:focus, textarea:focus, select:focus
{
    -webkit-box-shadow:inset 0 1px 3px 0 rgba(0,0,0,0.4);
    box-shadow:inset 0 1px 3px 0 rgba(0,0,0,0.4);
    border-color: #474343;
}

#contact #ContactForm label
{
   font-size: 13px;
color:#2898FF;
text-transform: none;
margin-bottom: 5px;
display: block;
float: left;
font-family: arial;
margin-left: 10px;
font-weight:bold;
}



#contact #ContactForm input[type="button"]
{
  width: 100%;
border: 1px solid #FEFEFE;
cursor: pointer;
background-color: #01BCC3;
color: #FFF;
font-size: 17px;
padding-top: 9px;
padding-bottom: 9px;
transition: all 0.3s ease 0s;
margin-top: 10px;
font-family: arial;
text-transform: uppercase;
letter-spacing: 1px;

}

#contact #ContactForm input[type="button"]:hover
{
    background-color: #474343;
}

.required
{
    color:#dd6666;
}
.hearder{
width: 100%;
height: auto;
float: left;
background:#D6D6D6;
margin-bottom: 40px;
}
.container{
width:85%;
height:auto;
margin:auto;
}
.hearder h1{
width:auto;
float:left;
padding:10px 0px;
color:#fff;
font-size:20px;
text-transform:uppercase;
}
.footer{
width: 100%;
height: auto;
float: left;
background: none repeat scroll 0% 0% #000;
margin-top: 40px;
}
.footer p{
width:auto;
float:left;
padding:20px 0px;
color:#e1e1e1;
font-size:13px;
text-transform:none;
}

h1 {
   margin: 0px !important;
}




